name: update matches json

on:
  repository_dispatch:
    types: [update-match-json]
jobs:
    resources:
        name: Update resources
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1

            - uses: actions/setup-node@v1

            - name: Fetch resources
              run: python update-file.py

            - name: Update resources
              uses: test-room-7/action-update-file@v1
              with:
                  file-path: src/assets/matches.json
                  commit-msg: Update resources
                  github-token: ${{ secrets.GITHUB_TOKEN }}
