name: update matches json

on:
  repository_dispatch:
    types: [update-match-json]
jobs:
    resources:
        name: Update resources
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1

            - uses: actions/setup-node@v1

            - name: Fetch resources
              run: python update-file.py

            - name: Update resources
              uses: test-room-7/action-update-file@v1
              with:
                  file-path: src/assets/matches.json
                  commit-msg: Update resources
                  github-token: ${{ secrets.GITHUB_TOKEN }}
    deploy:
        name: Trigger Publish Workflow
		    needs: resources
		    runs-on: ubuntu-latest
		    steps:
			      - run: |
				        curl -X POST -H "Accept: application/vnd.github.v3+json" -H "Authorization: token $USER_TOKEN" https://api.github.com/repos/solutionhere/iplplayoffcalculator/dispatches -d '{"event_type":"publish-to-pages"}'
              env:
                USER_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}